<nav class="flex justify-between py-4 bg-white/80 shadow-md">
  <!-- Logo Container -->
  <div class="flex items-center ml-10">
    <!-- Logo -->
    <a class="cursor-pointer" routerLink="/">
      <h3 class="text-2xl font-medium text-blue-500">
        <img
          class="h-10 object-cover"
          src="https://fakestoreapi.com/icons/logo.png"
          alt="Store Logo"
        />
      </h3>
    </a>
  </div>
  <!-- <div class="flex items-center space-x-8">
    <a class="flex text-gray-600 hover:text-blue-500 cursor-pointer transition-colors duration-300"
    >Electrónica</a>
  </div> -->
  <!-- Icon Menu Section -->
  <div class="flex items-center space-x-5 mr-10">
    <a class="flex text-gray-600 text-3xl hover:text-blue-500 cursor-pointer transition-colors duration-300 relative scale-75">
      <i class="fas fa-cart-plus"></i>
      <span class="absolute -top-2 left-4 rounded-full bg-red-500 p-0.5 px-2 text-sm text-red-50">0</span>
    </a>
    <!-- Register -->
    <a class="flex text-gray-600 hover:text-blue-500 cursor-pointer transition-colors duration-300"
      routerLink="/auth/register">
      Registrate
    </a>
    <!-- Login -->
    <a class="flex justify-center items-baseline text-gray-600 hover:text-green-500 cursor-pointer transition-colors duration-300 font-semibold"
      routerLink="/auth">
      Iniciar Sesión
      <i class="fas fa-sign-in-alt ml-1"></i>
    </a>
  </div>
</nav>
