<footer class="bg-neutral-200 text-center text-white dark:bg-neutral-500 mt-20">
    <div class="pt-9">
      <div class="mb-9 flex justify-center items-baseline space-x-8">
        <a  class="text-fuchsia-800 dark:text-neutral-200 text-center font-extrabold hover:text-fuchsia-500"
            href="https://fakestoreapi.com"
            target="_blank">API
            <i class="fa fa-shopping-bag"></i>
        </a>
        <a  class="text-gray-800 dark:text-neutral-200 text-center font-extrabold hover:text-gray-500"
            href="https://github.com/ronaldo071515"
            target="_blank">
            <i class="fab fa-github"></i>
        </a>
        <a  class="text-gray-800 dark:text-neutral-200 text-center font-extrabold hover:text-gray-500"
            href="https://potafolio-ronaldo.netlify.app/home"
            target="_blank">
            <i class="fas fa-globe"></i>
        </a>
        <a  class="text-red-800 dark:text-neutral-200 text-center font-extrabold hover:text-red-500"
            href="https://angular.io/"
            target="_blank">
            <i class="fab fa-angular"></i>
        </a>
      </div>
    </div>
  
    <div class="bg-neutral-300 p-4 text-center text-neutral-700 dark:bg-neutral-700 dark:text-neutral-200">© 2023 Copyright:
        <a class="text-neutral-800 dark:text-neutral-400"
            href="https://tailwind-elements.com/">Tailwind Elements</a>
        <a class="text-neutral-800 dark:text-neutral-400"> | R & A</a>
    </div>
  </footer>